<div id="general-info">
	<div id="user-pic"></div>
	<div id ="profile-info">
		<p><%= current_user.name  %></p>
		<p>Tu agente es <%= current_user.agent.name  %></p>
	</div>
</div>
<div class="last_delivery">
	<div class="table"></div>
	<div class="comments">
		<table>
			<thead>Azul</thead>
			<thead>Naranja</thead>
			<thead>Morada</thead>
			<tbody></tbody>
			<tbody></tbody>
			<tbody></tbody>
		</table>
	</div>
</div>
<div class="total_delivery"></div>
<div class="benefits"></div>