<div id="general-info">
	<div id="user-pic"></div>
	<div id ="profile-info">
		<p id="c-user-name"><%= current_user.name  %></p>
		<p id="c-user-agent">Tu agente es <span id="agent-name"><%= current_user.agent.name  %></span></p>
	</div>
</div>

<div class="last_delivery">
	<div class="table"></div>
	<div class="comments">
		<table>
			<thead>Azul</thead>
			<thead>Naranja</thead>
			<thead>Morada</thead>
			<tbody></tbody>
			<tbody></tbody>
			<tbody></tbody>
		</table>
	</div>
</div>

<div class="total_delivery"></div>

<div class="benefits"></div>