/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 *= require_tree .
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* ALERTS */
.alert-info {
	margin-bottom: 0px;
}

/* NAVBAR */

.navbar {
	background-color: #323232;
	width: 100%;
	border: none;
	border-radius: 0px;
	position: fixed;
	z-index: 10;
}

a .navbar-brand {
	color: white;
}

.nav .navbar-text {
	font-family: Helvetica;
	font-size: 15px;
	font-weight: lighter;
	color: #ebdc5b;
}

.navbar-default .navbar-nav li a {
	font-family: Helvetica;
	font-size: 15px;
	font-weight: lighter;
	color: #71d1cc;
}

.navbar-default .navbar-nav li a:hover {
	color: #71d1cc;
	background-color: #162928;
}

.navbar-default .navbar-nav li a.login {
	color: #f58738;
}

.navbar-default .navbar-nav li a.login:hover {
	color: #f58738;
	background-color: #311b0b;
}

.navbar-default .navbar-nav li a.join {
	color: #bada55;
}

.navbar-default .navbar-nav li a.join:hover {
	color: #bada55;
	background-color: #252b11;
}

.navbar-default .navbar-nav li a.logout {
	color: #ebdc5b;
}

.navbar-default .navbar-nav li a.logout:hover {
	color: #ebdc5b;
	background-color: #2f2c12;
}

.navbar-toggle {
	background-color: #2f2f2f;
	border: none;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #cccccc;
}




