
/*GENERAL INFO*/
#general-info {
	height: 600px;
	width: 18%;
	position: static;
	color: #fbfbfa;
	margin-top: 14px;
	background-color: #323232;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

#user-info {
	height: 50%;
	width: 100%;
	position: relative;
	float: left;
}

#profile-pic {
	height: 140px;
	width: 140px;
	position: relative;
	float: left;
    border-radius: 50%;
	background-image: url("user_default.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: 10%;
    margin-left: 19%;
}

#profile-info {
	position: relative;
	float: left;
	top: 5%;
    left: 6%;
}

#c-user-name {
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 20px;
}

#c-user-name span {
	border-bottom: 3px solid #71d1cc;
}

#c-user-agent {
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 16px;
}

.agent-name {
	color: #71d1cc;
	font-weight: bold;
	font-size: 14px;
}

/*BENEFITS*/
#profile-benefits {
	height: 50%;
    width: 100%;
    position: relative;
    float: left;
    padding: 30px;
    text-align: right;
}

#profile-benefits h4 {
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 20px;
	margin-top: 0px;
	border-top: 3px solid #71d1cc;
}

#profile-benefits p {
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 16px;
}

.benefit {
	font-weight: bold;
}

.bnft-1 {
	color: #bada55;
}

.bnft-2 {
	color: #f58738;
}

.bnft-3 {
	color: #ebdc5b;
}

/*DELIVERIES*/
#profile-deliveries {
	height: 600px;
	width: 82%;
	color: #404040;
	position: relative;
    float: right;
    margin-top: -600px;
}

h5 {
	text-align: center;
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 16px;
}

.espan {
	border-bottom: 3px solid #71d1cc;
}

/*LAST DELIVERY*/
#last-delivery {
	height: 100%;
	width: 50%;
	position: relative;
	float: left;
}

#table-last {
	height: 400px;
	width: 100%;
	position: relative;
	float: left;
	z-index: 10;
}

#comments-last {
	height: 140px;
	width: 100%;
	background-color: green;
	position: relative;
	float: left;
	z-index: 10;
}

/*TOTAL DELIVERIES*/
#total-deliveries {
	height: 100%;
	width: 50%;
	position: relative;
	float: right;
}

#table-total {
	height: 400px;
	width: 100%;
	position: relative;
	float: left;
	z-index: 10;
}

div #last-chart {
	color: #404040;
}

#chart-1 {
	height: 400px;
	width: 524px;
	color: #404040;
}

rect {
	fill: transparent;
	height: 400px;
	width: 524px;
}

canvas {
	margin-left: 60px;
    margin-top: 50px;
}


