
/*GENERAL INFO*/
#general-info {
	height: 30vh;
	width: 100%;
	position: static;
	color: #404040;
}

#user-info {
	height: 200px;
	width: 50%;
	position: relative;
	float: left;
}

#profile-pic {
	height: 160px;
	width: 160px;
	position: relative;
	float: left;
    border-radius: 50%;
	background-image: url("user_default.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: 3%;
	margin-left: 3%;
	margin-right: 3%;
}

#profile-info {
	height: 30%;
	position: relative;
	float: left;
	bottom: -45%;

}

#c-user-name {
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 20px;
}

#c-user-name span {
	border-bottom: 3px solid #71d1cc;
}

#c-user-agent {
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 16px;
}

.agent-info {
	font-weight: bold;
	font-size: 14px;
}

/*BENEFITS*/
#profile-benefits {
	height: 100%;
	width: 50%;
	position: relative;
	float: right;
	background-color: #f4f2ee;
	padding: 20px;
}

#profile-benefits h4 {
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 20px;
}

#profile-benefits p {
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 16px;
}

.benefit {
	font-weight: bold;
}

/*DIVISION*/
hr {
	margin-top: 22.5px;
	margin-bottom: 22.5px;
	border-top: 5px solid #71d1cc;
}

/*DELIVERIES*/
#profile-deliveries {
	height: 50vh;
	width: 100%;
	color: #404040;
	background-color: pink;
}

h5 {
	text-align: center;
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 16px;
}

.espan {
	border-bottom: 3px solid #71d1cc;
}

/*LAST DELIVERY*/
#last-delivery {
	height: 330px;
	width: 50%;
	position: relative;
	float: left;
	background-color: green;
}

.table-last {
	height: 340px;
	width: 100px;
	background-color: green;
	position: relative;
	float: left;
	z-index: 10;
}

/*TOTAL DELIVERIES*/

#total-deliveries {
	height: 330px;
	width: 50%;
	position: relative;
	float: right;
	background-color: yellow;
}





