
/*GENERAL INFO*/
#general-info {
	height: 200px;
	width: 100%;
	position: static;
	color: #404040;
}

#user-info {
	height: 200px;
	width: 50%;
	position: relative;
	float: left;
}

#profile-pic {
	height: 160px;
	width: 160px;
	position: relative;
	float: left;
    border-radius: 50%;
	background-image: url("user_default.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: 3%;
	margin-left: 3%;
}

#profile-info {
	height: 30%;
	position: relative;
	float: left;
	bottom: -70%;
}

#c-user-name {
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 20px;
}

#c-user-agent {
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 16px;
}

#agent-name {
	font-weight: bold;
	font-size: 14px;
}

/*BENEFITS*/
#profile-benefits {
	height: 100%;
	width: 50%;
	position: relative;
	float: right;
	background-color: #f4f2ee;
	padding: 20px;
}

#profile-benefits h4 {
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 20px;
}

#profile-benefits p {
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 16px;
}

.benefit {
	font-weight: bold;
}

/*DELIVERIES*/
#profile-deliveries {
	height: 400px;
	width: 100%;
	background-color: red;
	margin-top: 20px;
	color: #404040;
}

#profile-deliveries h4 {
	margin: 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

#profile-deliveries h4 span {
	border-bottom: 3px solid #71d1cc;
}

#last-delivery {
	height: 350px;
	width: 50%;
	position: relative;
	float: left;
	background-color: pink;
	margin-top: 10px;
}

h5 {
	text-align: center;
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 16px;
}

h5 span {
	font-family: Helvetica;
	font-weight: bold;
}

#total-deliveries {
	height: 350px;
	width: 50%;
	position: relative;
	float: right;
	background-color: yellow;
	margin-top: 10px;
}





