// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* MODAL */

.modal-dialog {
    float: right;
    margin-right: 0px;
}

.modal-content {
    width: 265px;
    top: 20px;
    right: 0.5px;
    text-align: center;
    float: right;
    border-radius: 10px;
}

.modal-header {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.modal-footer {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.modal-title {
    font-family: Helvetica;
    font-weight: lighter;
    text-align: center;
    font-size: 22px;
    margin-top: -5px;
}

div.modal-body {
    color: #515151;
    background-color: #f7f6f3;
    padding: 10px 15px 5px 15px;
}

.field {
    font-family: Helvetica;
    font-size: 16px;
    margin: 0px;
}

.field label {
    margin: 0px;
    font-weight: lighter;
}

.field_content {
    font-weight: lighter;
    font-size: 13px;
    background-color: transparent;
    border: none;
    border-bottom: solid #515151 0.2px;
}

.modal-footer {
    text-align: center;
    padding: 10px 15px 10px 15px;
    background-color: #f4f2ee;
}

.modal-footer a {
    font-family: Helvetica;
    font-weight: lighter;
    color: #515151;
}

.modal-footer a:hover {
    color: #5aa7a3;
    text-decoration: none;
    background-color: transparent;
}

.button-login-join {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 16px;
    width: 100%;
    height: 32px;
    border-color: transparent;
    border-radius: 5px;
    background-color: #a7c44c;
    color: #374119;
    margin-top: 5px;
}

.button-login-join:hover {
    opacity: 0.7;
}

/* MODAL LOGIN */
div #header-login {
    color: #f58738;
    background-color: #311b0b;
    height: 50px;
    border-bottom: none;
}

.remember label {
    font-size: 13px;
    font-family: Helvetica;
    font-weight: lighter;
}

/* MODAL JOIN */
div #header-join {
    color: #bada55;
    background-color: #252b11;
    height: 50px;
}

#join-here {
    top: 35.4vh;
    margin: 0 auto;
    position: relative;
    float: none;
}

/*HEADER-WELCOME*/
#header-welcome {
    background-image: url("leaf.jpg");
    background-attachment: fixed;
    height: 500px;
    position: relative;
}

/*BENEFITS-WELCOME*/
#benefits-welcome {
    height: 500px;
}

#ben-1 {
    height: 500px;
    width: 33.33%;
    float: left;
}

#ben-2 {
    height: 500px;
    width: 33.33%;
    float: left;
}

#ben-3 {
    height: 500px;
    width: 33.33%;
    float: left;
}

.ben-img {
    background-image: url("launch.png");
    background-repeat: no-repeat;
    background-size: 100px 95px;
    width: 100px;
    height: 95px;
    margin: 0 auto;
    margin-top: 130px;
}

.ben-txt {
    text-align: center;
    margin: 40px;
}

/*TIMELINE-WELCOME*/
#timeline-welcome{
    height: 250px;
    background-color: blue;
}

#timeline-welcome h2 {
    color: white;
    font-family: Helvetica;
    font-weight: lighter;
    text-align: center;
}
