// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #fbfbfa;
}

/* MODAL */

.modal-dialog {
    float: right;
    top: 20px;
    right: 0.5px;
}

.modal-content {
    width: 265px;
    text-align: center;
    float: right;
    border-radius: 10px;
}

.modal-header {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.modal-footer {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.modal-title {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 22px;
    margin-top: -10px;
}

div.modal-body {
    color: #404040;
    background-color: #f7f6f3;
    padding: 10px 15px 5px 15px;
}

.field {
    font-family: Helvetica;
    font-size: 16px;
    margin: 0px;
}

.field label {
    margin: 0px;
    font-weight: lighter;
}

.field_content {
    font-weight: lighter;
    font-size: 13px;
    background-color: transparent;
    border: none;
    border-bottom: solid #404040 0.2px;
}

.modal-footer {
    text-align: center;
    padding: 9px 15px 10px 15px;
    background-color: #f4f2ee;
    height: 76px;
}

.modal-footer a {
    font-family: Helvetica;
    font-weight: lighter;
    color: #404040;
}

.modal-footer a:hover {
    color: #5aa7a3;
    text-decoration: none;
    background-color: transparent;
}

.button-login-join {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 17px;
    width: 113%;
    height: 32px;
    border-color: transparent;
    background-color: #a7c44c;
    color: #374119;
    margin-top: 5px;
    margin-left: -15px;
}

.button-login-join:hover {
    opacity: 0.8;
    font-weight: 500;
}

/* MODAL LOGIN */
div #header-login {
    color: #f58738;
    background-color: #311b0b;
    height: 40px;
    border-bottom: none;
}

.remember label {
    font-size: 13px;
    font-family: Helvetica;
    font-weight: lighter;
}

#body-login {
    height: 169px;
}

/* MODAL JOIN */
div #header-join {
    color: #bada55;
    background-color: #252b11;
    height: 40px;
}

#join-here {
    top: 39.2vh;
    margin: 0 auto;
    position: relative;
    float: none;
}

#body-join {
    height: 194px;
}

/*MODAL PASSWORD*/
#header-password {
    color: #ebdc5b;
    background-color: #2f2c12;
    height: 40px;
}

/*MODAL CONFIRMATION*/
#header-confirmation {
    color: #71d1cc;
    background-color: #162928;
    height: 40px;
}

#body-password-email {
    height: 96px;
}

/*HEADER-WELCOME*/
#header-welcome {
    background-image: url("leaf.jpg");
    background-attachment: fixed;
    height: 500px;
    position: relative;
}

#header-phrase {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 76px;
}

#header-phrase h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #404040;
}

#header-phrase h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

/*BENEFITS-WELCOME*/
#benefits-welcome {
    height: 500px;
}

#ben-1 {
    width: 20%;
    float: left;
    margin-left: 10%;
    position: relative;
    top: 42px;
}

#ben-2 {
    width: 20%;
    float: left;
    margin-left: 10%;
    position: relative;
    z-index: -10;
    top: 42px;
}

#ben-3 {
    width: 20%;
    float: left;
    margin-left: 10%;
    position: relative;
    top: 42px;
}

.ben-img {
    background-repeat: no-repeat;
    background-size: 130px 130px;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    margin-top: 129px;
}

.img-1 {
    background-image: url("location_2.png");
}

.img-2 {
    background-image: url("garden.png");
}

.img-3 {
    background-image: url("heart.png");
}

.ben-txt {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 16px;
    color: #404040;
    text-align: center;
    margin: 20px;
    margin-top: 20px;
    border-top: 3px solid #71d1cc;
}

.ben-txt h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

/*OCHO KIDS*/
#ocho-kids {
    height: 500px;
    background-color: #f4f2ee;
}

#kids-img {
    height: 100%;
    width: 50%;
    background-image: url("ocho_kids.png");
    background-repeat: no-repeat;
    background-size: 500px 500px;
    background-position: right;
    float: left;
    position: relative;
}

#kids-info {
    height: 40%;
    width: 50%;
    color: #464644;
    float: left;
    position: relative;
}

#kids-phrase {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.info-check {
    background-image: url("check.png");
    background-repeat: no-repeat;
    background-size: 45px 40px;
    background-position: right;
    height: 40px;
    width: 10%;
    position: relative;
    float: left;
}

.info-desc {
    position: relative;
    float: left;
    height: 40px;
    width: 80%;
    margin-left: 2.5%;
}

.info-desc p {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 20px;
    padding-top: 12px;
}

#info-1 {
    margin-top: 0px;
}

#info-2 {
    margin-top: 65px;
}

#info-3 {
    margin-top: 120px;
}

/*MODAL KIDS*/

#kids-contact {
    height: 60%;
    width: 30%;
    position: relative;
    float: left;
    left: 120px;
}

#join-kids {
    width: 100%;
    height: 250px;
    text-align: center;
    position: relative;
    float: left;
    border-radius: 0px;
    border-width: 0px;
    top: 15px;
    box-shadow: 0.1px 0.1px 100px 0.1px;
}

#join-kids .modal-header {
    border-radius: 0px;
}

#join-kids .button-login-join {
    width: 108.5%;
}

#contact-title p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 22px;
    padding-top: 4%;
}

#contact-desc p {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 16px;
    text-align: center;
    margin: 0px;
    color: #252b11;
    background-color: #bada55;
}








