// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*SLIDER*/
#contentContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#wrapper {
    width: 400vw;
    transform: translate3d(0, 0, 0);
    transition: transform .5s ease-in-out;
}

.content {
    float: left;
    width: 100vw;
    height: 100vh;
    white-space: normal;
    background-repeat: no-repeat;
}
#itemOne {
    background-color: black;
    background-image: url("bienvenido_ocho.png");
    background-size: contain;
    background-position: center;

}
#itemTwo {
    background-color: black;
    background-image: url("//www.kirupa.com/images/yellowSquare.png");
}
#itemThree {
    background-color: black;
    background-image: url("//www.kirupa.com/images/pinkSquare.png");
}
#itemFour {
    background-color: black;
    background-image: url("//www.kirupa.com/images/graySquare.png");
}

#navLinks {
    text-align: center;
    width: 100vw;
    z-index: 1;
    position: absolute;
    bottom: 1%;
}

#navLinks ul {
    display: inline-block;
    margin-left: -40px;
}

#navLinks ul li {
    float: left;
    text-align: center;
    margin: 10px;
    list-style: none;
    cursor: pointer;
    background-color: #cccccc;
    padding: 5px;
    border-radius: 50%;
    opacity: .6;
}

#navLinks ul li:hover {
    background-color: #7f7f7f;
    opacity: 1;
}

#navLinks ul li.active {
    background-color: #323232;
    outline-width: 7px;
    opacity: 1;
}

#navLinks ul li.active:hover {
    background-color: #7f7f7f;
}





















